<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2 class="oj-header-border">New Notice</h2>
            <div id='buttons-container'>
                <oj-button id='button1' on-oj-action='[[goBackToPage1]]'>Back</oj-button>
                <oj-button id='button2' style = "float: right;" on-oj-action='[[goToNextPage3]]'>Next</oj-button>
            </div>
            <h3 class="oj-header-border">Notice Details</h3>
            <div id="form-container">
                <div id="parentContainerFilePicker" style="padding:10px">
                    <oj-file-picker 
                                    selection-mode="[[multipleStr]]"
                                    on-oj-select='[[selectListener]]'>
                    </oj-file-picker>
                    <div style="padding-top:8px"></div>
                    <div class="oj-choice-item">
                        <input id="selection" type="checkbox" class="oj-checkbox-nocomp" 
                               data-bind="checked: multiple" />
                        <label for="selection" class="oj-checkbox-label-nocomp">Multiple Selection</label>
                    </div>
                    <div style="padding-top:8px">
                        <label for="selected">Selected files: </label>
                        <span id="selected" data-bind="text: ko.toJSON(fileNames)"></span>
                    </div>
                </div>
                
                 
            </div>
    </body>
</html>
