<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2 class="oj-header-border">New Notice</h2>
            <div id='buttons-container' class="oj-header-border">
                <oj-button id='button1' on-oj-action='[[goToDashboard]]'>Back</oj-button>
                <oj-button id='button2' style = "float: right;" on-oj-action='[[goToNextPage2]]'>Next</oj-button>
            </div>
            <h3 class="oj-header-border">Notice Details</h3>
            <div id="form-container">
                <oj-form-layout label-edge="{{labelEdge}}">
            <oj-input-text id="control1" required value="name" label-hint="Notice Name"></oj-input-text>
            <oj-text-area id="control2" required value='description' rows="6" label-hint="description"></oj-text-area>
            <oj-label for="basicSelect">Preferred Language</oj-label>
          <oj-select-one id="basicSelect" value="{{val}}" style="max-width:20em">
            <oj-option value="English">English</oj-option>
            <oj-option value="Hindi">Hindi</oj-option>
            <oj-option value="French">French</oj-option>
            <oj-option value="German">German</oj-option>
            <oj-option value="Portuguese">Portuguese</oj-option>
          </oj-select-one>
          </oj-form-layout>
            </div>
        </div>
    </body>
</html>
