<div class="blue-header">
View recent notices or submit a new one.
</div>

<div class="dashboard-primary-section oj-flex oj-sm-flex-items-1">
    <div class="oj-flex-item" style="width: 50%">
        <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
            <div class="oj-flex-item" style="min-width: 6em">
                <!-- ko if: username() === 'admin' -->
                    <oj-button on-oj-action="[[reviewNewNotices]]" disabled="[[reviewsDisabled]]" class="review-btn">
                        <span slot="startIcon"><i class="fas fa-gavel"></i></span>
                        <span class="notification" style="padding: 0" data-bind="text: noOfReviews"></span>
                        Review
                    </oj-button>
                <!-- /ko -->
            </div>
            <div class="oj-flex-item">
                <!-- ko ifnot: username() === 'viewer' -->
                    <oj-button on-oj-action="[[createNewNotice]]" class='oj-button-confirm'>
                        <span slot="startIcon"><i class="fas fa-plus"></i></span>
                        Create New
                    </oj-button>
                <!-- /ko -->
            </div>
        </div>
        <div class="recent-list">
            <h3>Recent Notices</h3>
            <oj-list-view selection-mode="single">
                <ul>
                    <li data-bind="click: goToViewNotices">
                        <div class="recent-list-item">
                            <div>
                                <span class="name">Unplanned Outage</span>
                            </div>
                            <div>
                                <span class="oj-text-xs oj-text-secondary-color">Chennai: Server Paths are not accessible</span>
                            </div>
                        </div>
                    </li>
                    <li data-bind="click: goToViewNotices">
                        <div class="recent-list-item">
                            <div>
                                <span class="name">Fire Drill</span>
                            </div>
                            <div>
                                <span class="oj-text-xs oj-text-secondary-color">Mumbai: Fire Drill on 28th September</span>
                            </div>
                        </div>
                    </li>
                    <li data-bind="click: goToViewNotices">
                        <div class="recent-list-item">
                            <div>
                                <span class="name">Table Tennis Tournament</span>
                            </div>
                            <div>
                                <span class="oj-text-xs oj-text-secondary-color">India: National Table Tennis Tournament</span>
                            </div>
                        </div>
                    </li>
                    <li data-bind="click: goToViewNotices">
                        <div class="recent-list-item">
                            <div>
                                <span class="name">Oracle Outreach Program</span>
                            </div>
                            <div>
                                <span class="oj-text-xs oj-text-secondary-color">Worldwide: Oracle's New Outreach Programs</span>
                            </div>
                         </div>
                    </li>
                </ul>
            </oj-list-view>
        </div>
    </div>
    <div class="oj-flex-item">
        <div class="oj-flex-item">
            <div data-bind="click: openSlideShow"
                    style="width: 400px; height: 300px; position: relative; margin: auto;background-color: black;">
                <span class="slideshow-play-btn">
                    <i class="fas fa-play-circle"></i>
                </span>
            </div>
        </div>
    </div>
</div>



<oj-dialog style="display:none; width: 100vw; height: 100vh;" id="slideshowDialog"
            cancel-behavior="escape">
    <div slot="body">
        <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
            <div class="oj-flex-item" id="slideshow">
                <div>
                    <img data-bind="attr: {src: locations[0]}" style="width: 60vh; height: 85vh">
                </div>
                <div>
                    <img data-bind="attr: {src: locations[1]}" style="width: 60vh; height: 85vh">
                </div>
            </div>
        </div>
    </div>
</oj-dialog>
