<div class="oj-panel oj-panel-alt1 oj-panel-shadow-lg login-panel">
    <h3 class="oj-header-border">Login</h3>
    <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between" style="margin-top: 16px">
        <div class="oj-flex-item">
            Username:
        </div>
        <div class="oj-flex-item" style="width: 65%">
            <oj-input-text value="{{username}}"></oj-input-text>
        </div>
    </div>
    <div class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-space-between">
        <div class="oj-flex-item">
            Password:
        </div>
        <div class="oj-flex-item" style="width: 65%">
            <oj-input-password value="{{password}}"></oj-input-password>
        </div>
    </div>
    <oj-button class="login-button" on-oj-action='[[login]]'>Login</oj-button>
</div>
