viewNotices screen


<oj-film-strip id="filmStrip"
     aria-label="Hydrogen compounds"
     style="margin-top: 5px;"
     arrow-visibility="hidden"
     data-oj-context>
  <div class="oj-panel oj-panel-alt2 demo-filmstrip-item">
    <div>H<sub>2</sub>O</div>
    <div>Water</div>
  </div>
  <div class="oj-panel oj-panel-alt2 demo-filmstrip-item">
    <div>C<sub>6</sub>H<sub>12</sub>O<sub>6</sub></div>
    <div>Glucose</div>
  </div>
  <div class="oj-panel oj-panel-alt2 demo-filmstrip-item">
    <div>HCl</div>
    <div>Hydrogen chloride</div>
  </div>
  <div class="oj-panel oj-panel-alt2 demo-filmstrip-item">
    <div>H<sub>2</sub>S</div>
    <div>Hydrogen sulphide</div>
  </div>
  <div class="oj-panel oj-panel-alt2 demo-filmstrip-item">
    <div>NH<sub>3</sub></div>
    <div>Ammonia</div>
  </div>
  <div class="oj-panel oj-panel-alt2 demo-filmstrip-item">
    <div>HF</div>
    <div>Hydrogen fluoride</div>
  </div>
</oj-film-strip>
<div style="text-align: center;">
  <div style="display: inline-block;">
   <oj-paging-control
       data="[[pagingModel]]"
       page-size="0"
       page-options='{"type": "dots"}'>
    </oj-paging-control>
  </div>
</div>
