viewNotices screen
<div class="filmstrip-primary">
    <oj-film-strip
                 arrow-placement="adjacent"
                 arrow-visibility="visible"
                 current-item.index="[[clickedIndex]]">
              <!-- ko foreach: chemicals -->
              <div class="oj-panel oj-panel-alt2 primary-filmstrip-item"
                   data-bind="style: {
                     display: $parent.getItemInitialDisplay($index())}">
                <img data-bind="attr: {src: location}" style="width: 50vh; height: 70vh">
              </div>
              <!-- /ko -->
            </oj-film-strip>
</div>

<div class="filmstrip-paging">
    <oj-film-strip id="filmStrip" style="margin-top: 5px;" arrow-visibility="hidden" data-oj-context>
        <!-- ko foreach: chemicals -->
        <div class="oj-panel oj-panel-alt2 thumbnail-filmstrip-item"
             data-bind="style: {
               display: $parent.getItemInitialDisplay($index())}, click: function(){$parent.thumbnailClick($index())}">
          <img data-bind="attr: {src: location}" style="width: 50px; height: 70px">
        </div>
        <!-- /ko -->
    </oj-film-strip>
    <div style="text-align: center;">
        <div style="display: inline-block;">
            <oj-paging-control data="[[pagingModel]]" page-size="0" page-options='{"type": "dots"}'>
            </oj-paging-control>
        </div>
    </div>
</div>
