.login-panel {
    position: fixed;
    top: 40%;
    right: 50%;
    width: 390px;
    height: 205px;
    transform: translate(50%, -50%);
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 0 2px;
    margin-top: 10px;
    box-sizing: border-box;
}
