
.blue-header {
    height: 65px;
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
    background-color: #0077CE;
    color: white;
    font-family: 'Muli';
    font-size: 24px;
    line-height: 65px;
    letter-spacing: 1px;
}
