.login-panel {
    position: fixed;
    top: 40%;
    right: 50%;
    width: 390px;
    height: 205px;
    transform: translate(50%, -50%);
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 0 2px;
    margin-top: 10px;
    box-sizing: border-box;
}

.dashboard-header {
    height: 65px;
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
    background-color: #0077CE;
    color: white;
    font-family: 'Muli';
    font-size: 24px;
    line-height: 65px;
    letter-spacing: 1px;
}

.dashboard-primary-section {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.review-btn {
    width:100px;
    position:relative;
    line-height:50px;
}

.review-btn button {
    background-color: #8F3F9F !important;
    border-color: transparent !important;
    color: white !important;
}

.fa-gavel {
    color: white;
}

.notification {
    position:absolute;
    left:-7px;
    top:-7px;
    background-color:red;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
    font-weight: bold;
    color: white;
}

.recent-list {
    text-align: left;
    margin-top: 20px;
}

.recent-list-item {
    cursor: pointer;
}

.name {
    font-weight: bold;
}

.slideshow-play-btn {
    position: absolute;
    top: 50%; l
    eft: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: auto;
    font-size: 55px;
    cursor: pointer;
    color: aliceblue;
}

#slideshowDialog .oj-dialog-header{
    background: black;
    border: none;
}

#slideshowDialog .oj-dialog-content{
    background: black;
}

#slideshow {
    margin: 0 auto;
    position: relative;
    width: 60vh;
    height: 85vh;
    /* padding: 10px; */
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > div {
    position: absolute;
    /* top: 10px; */
    left: 10px;
    right: 10px;
    bottom: 10px;
}

oj-film-strip {
    outline: none;
}

.filmstrip-primary {
    max-width: 1400px;
    margin: auto;
}

.filmstrip-paging {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}

.primary-filmstrip-item {
    width: 48vh;
    height: 60vh;
    margin: 0 30vh;
    padding: 0;
}

.filmstrip-paging oj-film-strip {
    width: 500px;
}

.thumbnail-filmstrip-item {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.new-notice-container {
    max-width: 1200px;
    margin: auto;
}
